<!DOCTYPE html>
<html>
  <head>
    <title>Webman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="tm-background">
     <nav class="tm-navbar uk-navbar uk-navbar-attached">
       <div class="uk-container uk-container-center">
         <a class="uk-navbar-brand uk-hidden-small" href="/">Webman</a>
         <ul class="uk-navbar-nav uk-hidden-small">
           <li><a href="/">timeline</a></li>
           <li><a href="/sites/">comic</a></li>
         </ul>
       </div>
     </nav>
    <%= yield %>
  </body>
</html>
